/* ELŐRE DEFINIÁLT SZÍNEK */
:root
{
    --clr-neon: rgb(255, 20, 20);
    --clr-bg: hsl(323 21% 16%);
}

/* EGYEDI BETŰTÍPUS */
@font-face { font-family: 'yakuza'; src: url('../font/edosz.ttf'); }

body
{
    /*background-color: black;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* HÁTTÉR */
.bgmain
{
    background-image: url("../images/yakuzabg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* HIVATKOZÁSOK */
a:link
{
    text-decoration: none;
    color: var(--clr-neon);
    font-family: 'yakuza';
}

a:visited
{         
    text-decoration: none;
    color: var(--clr-neon)
}

a:hover
{
    text-decoration: none;
    color: var(--clr-bg)
}
/* HIVATKOZÁSOK VÉGE */

/* HOGY ELTŰNJÖN A BULLET-POINT A FELSOROLÁSBÓL */
li
{
    list-style-type: none;
}

/* NEON GOMBOK KEZDETE */
.neon-button
{
    font-size: 2rem;
  
    top: 0.8em;
    left: 0.4em;
    text-align: center;
    display: inline-block;
    width: 5em;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.35em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
}
  
.neon-button::before
{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
}
  
.neon-button::after
{
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}
  
.neon-button:hover,
.neon-button:focus
{
    color: var(--clr-bg);
    text-shadow: none;
}
  
.neon-button:hover::before,
.neon-button:focus::before
{
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after
{
    opacity: 1;
}
/*NEON GOMBOK VÉGE*/

.copyright
{
    position:fixed;
    right: 0.4em;
    bottom: 0.4em;
    color: white;
    font-size: 125%
}